In [1]:
# importing pandas library

import  pandas as pd

In [3]:
# reading the excel file
df = pd.read_excel('Book - Copy.xlsx')

In [4]:
df.head()

   tortoise baboon  block
0    burger   kimi   blop
1  whatever  Skeem  Katra